
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
}

nav {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

nav a:hover {
    color: #0077cc;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 4rem 1rem;
}



/* Home Section */
#home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}

#home h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.2rem;
    color: #6a0dad;
}

/*About Section*/
#about {
    background-color: #fff;
    color: #6a0dad;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    max-width: 900px;
}

#about h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#about p {
    max-width: 750px;
    font-size: 1.05rem;
    color: #000;
}

/*Skills Section*/
#skills {
    background-color: #ffffff;
    max-width: 900px;
}

#skills h1 {
    font-size: 2rem;
    color:#6a0dad;
    margin-bottom: 1rem;
}

#skills ul {
    list-style: none;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

#skills li {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 6px;
    font-weight: 300;
}

#skills li:hover {
    color: #6a0dad;
    font-weight: bold;
    background-color: #000;
}

/*Experience Section*/

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


#experience h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#experience-header h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1.3;
}

#experience p {
    color: #444;
    margin-bottom: 0.8rem;
}

#experience {
    max-width: 900px;
}

.date {
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}


/*== Projects ==*/
#projects h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project-card {
    background-color: #ffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.project-card h3 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.project-card p {
    color: #6a0dad;
}

.project-card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

/*== Contact Section ==*/

#contact {
    background-color: #fff;
    color: #000;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact p {
    margin-bottom: 0.6rem;
    color: #000;

}

#contact a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.linkedin-link {
    color: #0077cc;
    font-size: 1.2rem;
    background-color: #000;
}
.github-link {
    color: #ffff;
    font-size: 1.2rem;
    background-color: #000;

}

.linkedin-link:hover {
    color: #fff;
    background-color: #0077cc;
    border: 1px solid #000;
    box-shadow: 0 6px 15px rgba(10, 102, 194, 0.4);
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}

.github-link:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 6px 15px rgba(36, 41, 46, 0.4);
    transform: translateY(-3px);
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}